<footer class="mt-auto py-3 text-center">

    <small class="text-muted mb-2">
        © {{ site.author.name }} 2023
    </small>

    {% include social.html %}

    {%- assign theme_name = "portfolYOU" -%}
    {%- assign theme_repo = "https://github.com/YoussefRaafatNasry/portfolYOU" -%}
    <small id="attribution">
        theme <a href="{{ theme_repo }}">{{ theme_name }}</a>
    </small>
    <button id="back-to-top" title="Back to top">⬆</button>

</footer>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        document.getElementById("back-to-top").addEventListener("click", function () {
            window.scrollTo({ top: 0, behavior: 'smooth' });
        });
    });
</script>