.social {
  text-decoration: none !important;
}

#attribution {
  opacity: 0.5;
  a {
    text-decoration: none;
    font-weight: bold;
  }
}

@media only screen and (min-width: 768px) {
  #attribution {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    position: fixed;
    bottom: 120px;
    right: 22px;
  }
}

.github-footer {
  font-size: 10px;
  color: #6c757d;
  text-decoration: underline;
  text-decoration-color: yellow;
  text-align: right;
  margin-top: 4em;
  margin-right: 2em;
}

#back-to-top {
  display: none; // Default to hidden

  @media only screen and (min-width: 768px) {
    display: block; // Show only on larger screens

    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 50%; 
    color: white;
    cursor: pointer;
    opacity: 0.5;
    font-size: 24px; 
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: 9999;

    &:hover {
      opacity: 1;
    }
  }
}


